<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link th:href="@{static/css/styles.css}" rel="stylesheet">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

<div class="row g-3">
    <div class="col-12 col-md-6 col-lg-4" th:each="p : ${productos}">
        <div class="card h-100 shadow-sm">
            <div class="card-body">
                <h5 th:text="${p.nombre}">Nombre</h5>
                <p class="text-muted small" th:text="${p.descripcion}">desc</p>
                <span>$<span
                        th:text="${#numbers.formatDecimal(p.precio,1,2)}">0</span></span>
                <a th:href="@{/productos/{id}(id=${p.id})}" class="btn btn-outlineprimary btn-sm">Ver</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>